@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'mada' sans-serif;
}
.aboutUsBody{
    margin-top: 30px;
}
.aboutUsTitle h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
.aboutUsBodyWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.aboutUsBodyText{
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 18.5px;
    text-align: left;
}
.textP{
    font-weight: 490;
}
.firstSection{
    display: flex;
    padding: 50px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #F8BBD0;
    margin-bottom: 20px;
}
.firstSection div{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
.firstSection img{
    width: 300px;
}
.firstSection h2{
    width: 43%;
    font-size: 26px;
}
.secondSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.secondSection div{
    width: 90%;
    display: flex;
    align-items: center;
    font-weight: 490;
    justify-content: center;
}
.thirdSection{
    height: 300px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #162183 -12.67%, rgba(10, 171, 161, 0.62) 107.63%);
}
.thirdSubSection{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}
.thirdSubSection h2{
    font-size: 38px;
    color: white;
    margin-bottom: 20px;
}
.thirdSubSection p{
    color: white;
    margin-bottom: 20px;
    width: 97%;
}
.thirdSubSection button{
    width: 120px;
    height: 40px;
    background: #BBDEFB;
    border-radius: 16px;
    border: none;
    color: black;
}
.fourthSection{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.fourthSubSection{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 34px;
    text-align: left;
}
.fourthSubSection h2{
    padding: 30px 0px; 
    font-size: 34px;
}
.fourthSubSection p{
    width: 100%;
    font-size: 16.5px;
}
.fifthSection div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 950px) {
    .fifthSection img{
        object-fit: contain;
        width: 150px;
    }
    .fifthSection img:nth-child(3){
        width: 100px;
        object-fit: contain;
        height: 55px;
    }
    .fifthSection img:nth-child(5){
        width: 70px;
        height: 45px;
        object-fit: contain;
    }
   
}
@media (max-width: 768px) {
    .fifthSection img{
        object-fit: contain;
        width: 100px;
    }
    .fifthSection img:nth-child(3){
        width: 80px;
        object-fit: contain;
        height: 35px;
    }
    .fifthSection img:nth-child(5){
        width: 60px;
        object-fit: contain;
        height: 40px;
    }
   
}
