@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'mada' sans-serif;
}
*::-webkit-scrollbar{
    display: none;
  }
.courseHeaderWrapper{
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin-left: 30px;
    height: 100vh;
    max-height: 100vh;
}
.courseHeader{
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
}
.bodyWrapper{
    width: 85%;
}
.courseInputWrapper{
    display: flex;
    width: 70%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}
.headerIcons{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.secondIconWrapper{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.thirdIconWrapper{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.fourthWrapper{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.fourthWrapper i{
    width: 25px;
    height: 25px;
    border-radius: 2em;
    background: #F2F2F2;
}
.courseSearchInput{
    display: flex;
    align-items: center;
    width: 350px;
    height: 35px;
    background: #FEFEFE;
    border: 1px solid #90CAF9;
    border-radius: 5px;
}
.courseSearchInput i{
    padding: 0px  10px;
}
.courseSearchInput input{
    border: none;
    width: 250px;
    height: 30px;
    outline: none;
}
.userProfileWrapper{
    display: flex;
    width: 70%;  
}
.userProfile .userProfileDiv{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #90CAF9;
}
hr{
    height: 25px;
}
.courseBody{
    display: flex;
}
.courseBody div:nth-child(1){
    width: 100%;
}
.courseBody div:nth-child(2){
    width: 30%;
}