.generalCourseWrapper{
  width: 80%;
}
.generalLmsHeader{
  width: 100%;
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
   
  }
  .generalCourseBodyWrapper{
    margin-left: 61px;
    margin-top: 10px;
  }
.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }
.card{
    max-width: 350px;
    background: #393939;
    padding: 0;
    border-radius: 12px;
    text-decoration: none;
}  
.card img{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.details{
    margin-top: 0px;
    padding: 10px;
    align-items: flex-start;
}
.left{
   display: flex;
   align-items: flex-start;
  }
  .details p{
    font-size: 16px;
    font-weight: 700;
    color:  #C6C6C6;
    display: block;
    text-decoration: none !important;
   
   
  }

  .details .footer{
    display: flex;
    justify-content: space-between;
  }



.courseDirectory{
    display: flex;
    padding-left: 28px;
}
.courseDirectory div a{
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
}
.courseDirectory div i{
    margin: 5px 5px 0px;
}
.active{
    color:  #039BE5;
}
.startWrapper{
  position: absolute;
  top: 15vh;
  background-color: rgb(184, 165, 165);
  width: 600px;
  height: 500px;
  box-shadow: 5px 4px #666;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.startBody{
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.startBody i{
  position: relative;
  font-size: 24px;
  top: -140px;
  right: -280px;
  z-index: 0;
}
.buttonsWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btnWrapperr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.startBtn button{
  border: none;
  outline: none;
  width: 150px;
  border-radius: 12px;
  height: 40px;
  border: 2px solid #0288D1;
  color: white;
  background-color: #0288D1;
}
.startBtn button:hover{
  background: #005381;
  color: white;
  border: 2px solid #005381;
  transition: 300ms;
  cursor: pointer;
}
.startBtn button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 100ms;
}
.noBtn button{
  border: none;
  outline: none;
  border: 2px solid #717171;
  width: 150px;
  color: rgb(58, 55, 55);
  height: 40px;
  background-color: white;
  border-radius: 12px;
}
.noBtn button:hover{
  transition: 300ms;
  background: #C6C6C6;
  color: #000009;
  border: 2px solid #C6C6C6;
  cursor: pointer;
}
.noBtn button:active{
  background: #C6C6C6;
  transition: 100ms;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}







  
@media (max-width: 1000px) {
  .generalCourseWrapper{
    width: 100%;
    margin-left: 5vw;
  }
  
  }
@media (max-width:768px) {
  .generalCourseWrapper{
    width: 100%;
    margin-left:0;
  }
  .gridContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .details p{
    font-size: 12px;
   
  }
  .generalCourseBodyWrapper{
    margin-left: 0px;
  }
  .startWrapper{
    top: 25vh;
    left: 5vw;
    width: 400px;
  }
  .startWrapper h1{
    font-size: 24px;
  }
  .startBody{
    width: 400px;
    height: 40vh;
  }
  .startBody i{
    font-size: 18px;
    top: -132px;
    right: -186px;
  }
  .startBtn button{
    width: 100px;
  }
  .noBtn button{
    width: 100px;
  }
  }