@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Mada';
}

.landing{
  display: flex;
}
.navContainer{
  width: 100%;
  position: fixed;

}

/*HERO STARTS HERE*/
.wrapper{
  display: flex;
  flex-direction: column;
  background-color: #E3F2FD;
  padding-top: 80px;
  padding-left: 60px;
  padding-bottom: 120px;
}
.heroContainer{
  display: flex;
  align-items: center;
}
.text h1{
  font-weight: 800;
  font-size: 60px;
  width: 700px;
  text-align: left;
  letter-spacing: 0.01em;
}
.text p{
  font-size: 28px;
  text-align: left;
}
.heroImg img{
  width: 450px;
}
.getStartedExplore{
  display: flex;
  justify-content: left;
}
.getStartedExplore a{
  text-align: center;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  border: 2px solid #0288D1;
  border-radius: 40px;
}
.getStarted{
  width: 130px;
  background: #0288D1;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 2px solid #0288D1;
  border-radius: 40px;
  margin-right: 40px;
}
.getStarted:hover{
  background: #BBDEFB;
  color: black;
  transition: 300ms;
}
.getStarted:active{
  background: #C6C6C6;
  transition: 100ms;
}
.explore{
  width: 190px;
  color: rgb(58, 55, 55);
  background-color: white;
}
.explore:hover{
  background: #BBDEFB;
  transition: 300ms;
}
.explore:active{
  background: #C6C6C6;
  transition: 100ms;
}
/* HERO SECTION END */


/*PARTNERS SECTION BEGINS*/
.partnerWrapper{
  margin: 120px 100px;
}
.partnerWrapper h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: left;
  letter-spacing: 0.005em;
  margin-bottom: 65px;
}
.partners{
  display:flex;
  justify-content: space-between;
}
/*PARTNER SECTION ENDS*/


/*COURSE SECTION BEGINS*/
.coursesSection{
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 100px;
  background: #FAFAFA;
}
.coursesSection h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: left;
  margin-bottom: 40px;
}
.coursesWrapper{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.coursesWrapper p{
  font-size: 16px;
}
.courseContainer{
  width: 268px;
  padding: 7px 10px 20px 10px;
  border-radius: 12px;
}
.blue{
  width: 268px;
  padding: 7px 10px 20px 10px;
  border-radius: 12px;
  background: #E3F2FD;
}
.red{
  width: 268px;
  padding: 7px 10px 20px 10px;
  border-radius: 12px;
  background: #FCE4EC;
}
.courseImg img{
  width: 100%;
}
.coursesWrapper h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.coursesWrapper p{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
/*courses section ends*/

.customerSupport{
  position: fixed;
  bottom: 100px;
  right: 100px;
  background-color: #c2185b;
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 90px;
}
.customerSupport img{
  margin-top: 20px;
}

/* trial section starts*/
.potentialWrapper{
  padding: 60px 100px;
}
.potentialContainer h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 0.01em;
}
.potentialContainer p{
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  padding-right: 15px;
}
.trialPlans{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.trial{
  text-align: center;
}
.trial a{
  width: 150px;
  text-decoration: none;
}
.plans a{
  color: #039BE5;
  font-weight: 600;
  text-decoration: none;
  line-height: 31px;
  border-bottom: 3px solid #0288D1;
}
.plans a:hover{
  transition: 500ms;
  color: black;
  border-bottom: black;
}
/*trial section ends*/

/*porvision section begins*/
.provisionWrapper{
  margin: 60px 100px;
}
.provisionContainer h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
}
.provisions{
  display: flex;
  justify-content: space-between;

}
.provisionContent{
  display: flex;
  border: 1px solid #555555;
  justify-content: space-between;
  width: 30%;
  gap: 10px;
}
.provisionImg{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.provisionText h5{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 7px;
}
/*PROVISION SECTION ENDS*/


/*Client testimonial*/
.clientsWrapper{
  padding: 60px 90px;
  background: #FCE4EC;
}
.clientsContainer h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
}
.clientcomment{
  background-color: white;
  border-radius: 40px;
  width: 85%;
  height: 150px;
  padding: 40px;
  margin: auto;
}
.clientcomment p{
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;

}
.clientProfile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 45px;
}
.clientImg{
  display: flex;

}
.clientImg img{
  width: 160px;
}
.clientName{
  margin-left: 30px;
  margin-top: 20px;
}
.clientName h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.clientName p{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.navCarosel{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.clientOne{
  width: 20px;
  height: 20px;
  background-color: #F48FB1;
  border-radius: 100%;
}

