
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'mada' sans-serif;
}
.learningPathWrapper{
    width: 80%;
}
.learningPath{
    width: 100%;
}
.wrapper{
    margin-left: 30px;
    height: 100%;
    max-height: 100%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 10px;

}
.card{
    margin-top: 50px;
    padding: 20px;
}

.card:hover{
    cursor: pointer;
}

.card_body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid #039BE5;
    
}

.card_body i{
    font-size: 40px;
    color: #039BE5;
}

.card .card_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #039BE5;
    color: white;
    height: 80px;
    border: 1px solid #039BE5;
}



.courseDirectory{
    display: flex;
    margin-left: 4.7px;
}
.courseDirectory div a{
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
}
.courseDirectory div i{
    margin: 5px 5px 0px;
}
.active{
    color:  #039BE5;
}
.learningPathBodyWrapper{
    margin-left: 50px;
}



@media (max-width:768px) {
    .cards{
      
        flex-direction: column;
    }
    .learningPathWrapper{
        width: 100%;
    }
    .card{
        margin-top: 50px;
        width: 350px;
        padding: 20px;
    }
    .learningPathBodyWrapper{
        margin-left: 0px;
    }
    
    }