.ongoingCourse{
    width: 80%;
}
.ongoingCourseWrapper{
    margin: 10px 0px 30px 50px;
}
.courseDirectory div i{
    margin: 5px 5px 0px;
}
.courseDirectory{
    display: flex;
    margin-left: 10px;
}
.courseDirectory div a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}
.active{
    color:  #039BE5;
}
.courseBodyWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 30px;
}
.tutorWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px;
    margin-bottom: 20px;
}
.tutorWrapper div{
    text-align: left;
}
.tutorWrapper h3{
    color: #039BE5;
    margin: 0px;
}
.tutorWrapper p{
    margin-top: 5px;
}
.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.buttonWrapper a{
    text-decoration: none;
}
.btn1{
    border: none;
    background-color: #039BE5;
    color: white;
    width: 110px;
    border-radius: 12px;
    height: 40px;
    padding: 4px 6px;
}
.btn2{
    background-color: white;
    color: black;
    width: 105px;
    height: 40px;
    border: 1px solid #42A5F5;
    border-radius: 16px;
    padding: 4px 6px;
}
.btn3{
    background-color: white;
    color: black;
    width: 135px;
    height: 40px;
    border: 1px solid #42A5F5;
    border-radius: 16px;
    padding: 4px 6px;
}
.btn1:hover{
    background: #005381;
    color: white;
    border: 1px solid #005381;
    transition: 300ms;
}
.btn2:hover, .btn3:hover{
    color: #000009;
    transition: 300ms;
    background: #C6C6C6;
    border: 2px solid #C6C6C6;
  
}
.btn1:active, .btn2:active, .btn3:active{
    background: #C6C6C6;
    transition: 100ms;
    box-shadow: 3px 2px #666;
    transform: translateY(4px);
}
.extraSource{
    text-align: left;
}
.extraSource h3{
    margin-bottom: 10px;
}
.extraSource p{
    width: 550px;
    margin-bottom: 30px;
}
.extraSource a{
    color:  #EC407A;
    text-decoration: none;
}
.progressBar{
    background: #E3F2FD;
    padding: 30px 20px 40px 25px;
    width: 250px;
    border-radius: 12px;
    text-align: left;
}
.progressBarHeader{
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: flex-start;
    gap: 10px;
}
.progressBar hr{
    border-radius: 8px;
    width: 7px;
    height: 35px;
    background-color: #EC407A;
}
.progressBar ol{
    text-align: left;
}
.progressBar ol div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}
.progressBar ol div i{
    margin-top: 5px;
}
.progressBar summary{
    list-style: none;
}
.progressBar summary::-webkt-details-marker{
    display: none;
}
.progressBar details[open] summary::after{
    display: flex;
    content: "ᨈ";
    margin-left: 70px;
}
.progressBar details summary::after{
    content: "ᨆ";
}
.progressBar details summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 235px;
    font-weight: 550;
}
@media screen and (max-width: 1000px) {
    .ongoingCourse{
        width: 100%;
        margin-left: 5vw;
    }

}
@media screen and (max-width: 768px) {
    .ongoingCourse{
        width: 100%;
        margin-left: 0;
        overflow-x: hidden;
    }
    .ongoingCourseHeader{
        width: 100%;
    }
    .progressBar{
        display: none;
    }
    .courseBodyWrapper video{
        width: 85vw;
        z-index: 0;
    }
    .courseVideoWrapper{
        display: flex;
        justify-content: flex-start;
    }
}