.wrapper{
    margin: 0 20px;
    width: 100%;
}
.courseDirectory div i{
    margin: 5px 5px 0px;
}
.courseDirectory{
    display: flex;
}
.courseDirectory div a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}
.active{
    color:  #039BE5;
}
.bodyWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  
}

.quizContainer{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px;
}

.progressBar{
    width: 50%;
    height: 20px;
    background: #EDEDED;
    border-radius: 24px;
}

.progress{
    /* width: 10%; */
    height: 20px;
    background: #EC407A;
    border-radius: 24px;
}

.questionNumber{
    color: #039BE5;
}


.quizBtns{
    display: flex;
    gap: 30px;
}

.quizBtns h3{
    color: #039BE5;
}

.quizBtns h3:hover{
    cursor: pointer;
}

.quizBtns button{
    padding: 4px 16px;
    background-color: #039BE5;
    color: white;
    border: none;
    border-radius: 8px;
}

.quizBtns button:hover{
    cursor: pointer;
}

.answerSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.answers{
    width: 60%;
    border: 1px solid #039BE5;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 15px;
    text-align: left;
}

.answers:hover{
    cursor: pointer;
}

.answers:active{
    background-color: #039BE5;
    color: white;
}

.scoreSection{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.scoreSection img{
    max-width: 200px;
}

.scoreSection h1{
    font-weight: 800;

}






  
@media (max-width:768px) {

    .courseDirectory p{
        font-size: 10px;
    }
 
    .quizHeading{
        font-size: 20px;
        
        margin-top: 20px;
    }
    
    .quizContainer h3{
        font-size: 15px;
   
    }
    
    .quizContainer p{
        font-size: 15px;
    }

    .answerSection{
        width: 100%;
        padding: 10px;
    }
    
.answers{
    width: 100%;
 
}

.progressBar{
    width: 100%;
}
.scoreSection img{
    max-width: 70px;
}
    
    
    }