@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'mada' sans-serif;
}
.settingsPage{
    width: 80%;
    margin-left: 0px;
}
.settingsWrapper{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
}
.profileText{
    text-align: left;
    font-size: 18px;
    margin-left: 81px;
    margin-top: -15px;
}
.settingBodyWrapper{
   display: flex;
   align-items: right;
   justify-content: center;
}
.settingBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    padding: 20px 40px 50px 50px;
    border: 1px solid black;
    border-radius: 20px;
}
.profileWrapper{
    display: flex;
    align-items: center;
    width: 270px;
    justify-content: space-between;
}
.profileName{
    display: flex;
    flex-direction: column;
}
.profileWrapper button{
    width: 110px;
    height: 40px;
    background: #0288D1;
    border-radius: 12px;
    color: white;
    border: none;
}
.nameWrapper{
    display: flex;
    width: 425px;
}
.nameWrapper div{
    display: flex;
    align-items: center;
    width: 340px;
    height: 50px;
    border: 1px solid black;
}
.nameWrapperFirst{
    margin-right: 30px;
}
.nameWrapper div i{
    padding: 0px 5px 0px 10px;
}
.nameWrapper div input{
    border: none;
    height: 40px;
}
.input div{
    width: 426px;
    height: 50px;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;   
}
.input div i{
    padding: 15px 5px 0px 10px;
}
.input div input{
    border: none;
    height: 40px;
    width: 325px;
    margin-top: 3px;
}
.input div button{
    color:  #0288D1;
    background-color: white;
    border: none;
    margin: 15px 0px 0px 10px;
}
input{
    outline: none;
}
input::placeholder{
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    .settingsPage{
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }
    .settingsPageHeader{
        width: 150%;
    }
    .settingBodyWrapper{
        width: 100vw;
        height: 550px;
        margin-bottom: 30px;
    }
    .settingBody{
        width: 75vw;
    }
    .nameWrapper{
        width: 362px;
        flex-wrap: wrap;
    }
    .nameWrapperFirst{
        width: 352px;
        margin-bottom: 10px;
    }
    .nameWrapper div input{
        width: 315px;
    }
    .input div{
        width: 332px;
    }
    .input div input{
        width: 226px;
    }
    .profileText{
        margin: 15px;
    }
}
