@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'mada' sans-serif;
}
.privacyBodyWrapper{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.privacyBody{
    width: 87%;
    font-size: 18px;
    text-align: left;
}
.privacyBodyTextWrappper{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.privacyBodyText{
    width: 87%;
    font-size: 18px;
    text-align: left;
}
.privacyBodyText ul li{
    padding: 3px 0px;
    list-style: inside;
}
.privacyBodyText h4 a{
    text-decoration: none;
    color: #0288D1;
}