@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'mada' sans-serif;
}
.settingsWrapper{
    position: relative;
    display: flex;
    width: 100%;
}
.settingsHeader{
    display: flex;
    width: 100%;
    align-items: start;
    margin-left: 30px;
    justify-content: space-between;
}
.bodyWrapper{
    width: 90%;
}
.InputWrapper{
    display: flex;
    width: 80%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}
.headerIcons{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.secondIconWrapper{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.thirdIconWrapper{
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
}
.fourthWrapper{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
.fourthWrapper i{
    width: 25px;
    height: 25px;
    border-radius: 2em;
    background: #F2F2F2;
}
.settingSearchInput{
    display: flex;
    align-items: center;
    width: 350px;
    height: 35px;
    background: #FEFEFE;
    border: 1px solid #90CAF9;
    border-radius: 5px;
}
.settingSearchInput i{
    padding: 0px  10px;
}
.settingSearchInput input{
    border: none;
    width: 250px;
    height: 30px;
}
.userProfileWrapper{
    display: flex;
    width: 70%;  
}
.userProfile{
    font-size: 14px;
}
.userProfile .userProfileDiv{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #90CAF9;
}
hr{
    height: 25px;
}
.profileText{
    text-align: left;
    padding-left: 35px;
    margin-top: -30px;
}
.settingBodyWrapper{
   width: 100%;
   height: 480px;
   display: flex;
   align-items: right;
   justify-content: center;
}
.settingBody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 63%;
    padding: 20px 0px 50px 80px;
    border: 1px solid black;
    border-radius: 20px;
}
.profileWrapper{
    display: flex;
    align-items: center;
    width: 49%;
    justify-content: space-between;
}
.profileWrapper button{
    width: 120px;
    height: 46px;
    background: #0288D1;
    border-radius: 1.5em;
    color: white;
    border: none;
}
.nameWrapper{
    display: flex;
    width: 500px;
}
.nameWrapper div{
    display: flex;
    align-items: center;
    width: 33.5vw;
    height: 50px;
    border: 1px solid black;
}
.nameWrapperFirst{
    margin-right: 3.6vw;
}
.nameWrapper div i{
    padding: 0px 5px 0px 10px;
}
.nameWrapper div input{
    border: none;
    height: 40px;
}
.input div{
    width: 500px;
    height: 50px;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;   
}
.input div i{
    padding: 15px 5px 0px 10px;
}
.input div input{
    border: none;
    height: 40px;
    width: 380px;
    margin-top: 3px;
}
.input div button{
    color:  #0288D1;
    background-color: white;
    border: none;
    margin: 15px 0px 0px 10px;
}
input{
    outline: none;
}
input::placeholder{
    font-size: 1vw;
}
@media screen and (max-width: 950px) {
    .bodyWrapper{
        width: 90%;
    }
    .InputWrapper{
        width: 25%;
    }
    .headerIcons{
        width: 10%;
    }
    .secondIconWrapper{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
    }
    .thirdIconWrapper{
        display: flex;
        align-items: center;
        width: 75%;
        justify-content: space-between;
    }
    .fourthWrapper{
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-between;
    }
    .fourthWrapper i{
        width: 25px;
        height: 25px;
        border-radius: 2em;
        background: #F2F2F2;
    }
    .settingSearchInput{
        display: flex;
        align-items: center;
        width: 350px;
        height: 35px;
        background: #FEFEFE;
        border: 1px solid #90CAF9;
        border-radius: 5px;
    }
    .settingSearchInput i{
        padding: 0px  10px;
    }
    .settingSearchInput input{
        border: none;
        width: 250px;
        height: 30px;
    }
    .userProfileWrapper{
        display: flex;
        width: 70%;  
    }
    .userProfile{
        font-size: 14px;
    }
    .userProfile .userProfileDiv{
        width: 100px;
        height: 30px;
        border-radius: 3px;
        font-size: 13px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #90CAF9;
    }
    .settingSearchInput{
        width: 95vw;
    }
    .settingSearchInput input{
        border: none;
        width: 85vw;
    }
    .profileWrapper img{
        width: 30vw;
        min-width: 30vw;
    }
    .nameWrapper div{
        width: 56.6vw;
    }
    .nameWrapper div input{
        width: 35vw;
    }
    .nameWrapperFirst{
        margin-right: 5.6vw;
    }
    .input div{
        width: 120vw; 
    }
    .input div input{
        width: 65vw;
    }
    input::placeholder{
        font-size: 5.5vw;
    }
    .settingBodyWrapper{
        width: 100%;
        height: 470px;
        margin-left: 80vw;
        display: flex;
        align-items: right;
        justify-content: center;
     }
    .settingBody{
        width: 150vw;
    }
    .profileWrapper button{
        width: 7em;
        height: 3em;
        font-size: 5vw;
    }
    .profileWrapper h2{
        font-size: 6vw;
    }
    h1 {
        font-size: 13vw;
    }
    h2{
        font-size: 10vw;
    }

}
