.footer{
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
.footerBodyWrapper{
    display: flex;
    align-items: center;
}
.footerBody{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}
.footerBody h1{
    font-size: 34px;
    font-weight: 800;
}
.footerBody div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footerText p{
    width: 620px;
    text-align: left;
    margin-bottom: 40px;
}
.labelField div{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.labelFieldDiv{
    margin: 10px 0px 0px;
}
.labelField{
    margin-bottom: 10px;
}
.inputWrapper{
    width: 450px;
    height: 40px;
    background: #E3E3E3;
    border-radius: 17px;
}
.labelField div input{
    outline: none;
    /* background: transparent; */
    background: #E3E3E3;
    border: none;
    width: 400px;
    padding-left: 20px;
}
.labelField div input:active{
    outline: none;
    background: #E3E3E3;
    border: none;
}
.labelField div input::placeholder{
    font-size: 14px;
}
.labelField div button {
    width: 120px;
    height: 40px;
    margin-left: -30px;
    border-radius: 17px;
    background: #039BE5;
    color: white;
    border: none;
}
.labelField div button:hover {
    background: #005381;
    color: white;
    border: 1px solid #005381;
    cursor: pointer;
}
.labelField div button:active {
    transform: translateY(2px);
 
}
.labelField label p{
    display: flex;
    font-weight: 500;
}
.labelField a{
    color: #0288D1;
}
.labelField p{
    margin-top: 4px;
}
.links{
    display: flex;
    width: 65%;
    justify-content: space-evenly;
}
.links li{
    list-style: none;
    text-align: left;
    padding: 5px 0px;
}
.links h3{
    padding-bottom: 10px;
    font-weight: 750;
    font-size: 22px;
}
.links a{
    text-decoration: none;
    color: black;
}
.links a:hover{
    color: #0288D1;
}
.footerCopywrightWrapper{
    background-color:  #0288D1;
    height: 50px;
    display: flex;
    margin-top: 70px;
}
.footerCopywrightWrapper .footerCopywright{
    width: 85%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footerIconsWrapper{
    width: 9%;
    display: flex;
    justify-content: space-between;
}
.footerCopywrightWrapper .footerCopywright div i{
    color: white;
}
.news{
    z-index: 0;
    position: absolute;
    left: 20%;
    top: 2850px;
    background-color: white;
    width: 260px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.news h3{
   text-align: center;
}
.news p{
   text-align: left;
   font-size: 15px;
   width: 180px;
}
.imgWrapper{
    display: flex;
    align-items: flex-start;
}
.imgWrapper img{
    width: 140px;
}
.imgWrapper i{
    position: relative;
    top: -15%;
    font-size: 22px;
    right: -20%;
    z-index: 0;
}
.imgWrapper i:hover{
    transform: translateY(4px);
}
.imgWrapper i:active{
    box-shadow: 3px 2px #666;
    transform: translateY(4px);
}
@media screen and (max-width: 900px){
    .footerCopywrightWrapper .footerCopywright{
        width: 82%;
        font-size: 14px;
    }
    .footerBodyWrapper{
        flex-wrap: wrap;
        height: 610px;
        justify-content: space-between;
    }
    .footerIconsWrapper{
        width: 12%;
    }
    .footerIconsWrapper i{
        font-size: 11px;
    }
}
@media screen and (max-width: 768px){
    .footerText p{
        width: 420px;
        max-width: 450px;
        font-weight: 499;
    }
    .inputWrapper{
        width: 330px;
        align-items: center;
    }
    .footerBodyWrapper{
        height: 750px;
    }
    .labelField{
        width: 380px;
        text-align: left;
        margin-bottom: 0px;
    }
    .labelFieldDiv{
        display: flex;
        align-items: center;
        margin: 10px 0px 0px;
    }
    .labelField div{
        display: flex;
        align-items: center;
     
    }
    .labelField button{
        font-size: 14px;
    }
    .labelField p, .labelField a{
        font-size: 15px;
    }
    .links a{
        font-size: 15px;
        font-weight: 500;
    }
    .footerCopywrightWrapper .footerCopywright p{
        font-size: 12px;
        font-weight: 500;
    }    
    .footerIconsWrapper i{
        font-size: 7px;
        margin: 0px 1px;
    }
}
@media screen and (max-width: 450px){
    .footerCopywrightWrapper .footerCopywright p{
        font-size: 12px;
        font-weight: 500;
    }
    .footerText p{
        width: 320px;
    }
    .footerIconsWrapper a i{
        font-size: 11.5px;
    }
    .links{
        width: 75%;
    }
}
