.headerText{
    font-size: 30px;
}
.courseHeader{
    display: flex;
    width: 85%;
    align-items: start;
    justify-content: space-between;
}
.courseInputWrapper{
    display: flex;
    width: 68%;
    height: 15%;
    align-items: center;
    justify-content: space-between;
}
.headerIcons{
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: space-between;
}
.secondIconWrapper{
    display: flex;
    align-items: center;
    width: 56%;
    justify-content: space-between;
}
.thirdIconWrapper{
    display: flex;
    align-items: center;
    width: 99%;
    justify-content: space-between;
}
.thirdIconWrapper hr{
    width: 0.42px;
    height: 26px;
    border-radius: 12px;
    border: 0.1px solid black;
    background-color: black;
}
.fourthWrapper{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}
.fourthWrapper i{
    width: 25px;
    height: 25px;
    border-radius: 2em;
    background: #F2F2F2;
}
.fourthWrapper img{
    width: 35px;
}
.courseSearchInput{
    display: flex;
    align-items: center;
    width: 300px;
    height: 26px;
    margin-top: 10px;
    background: #FEFEFE;
    border: 1.3px solid #90CAF9;
    border-radius: 5px;
}
.courseSearchInput i{
    padding: 0px  10px;
}
.courseSearchInput input{
    border: none;
    width: 260px;
    height: 26px;
    outline: none;
}
.courseSearchInput input::placeholder{
    font-size: 12.5px;
}
.userProfileWrapper{
    display: flex;
    width: 70%;  
}
.userProfileName{
    font-weight: 500;
}
.userProfile .userProfileDiv{
    width: 7em;
    height: 2em;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:#D1B102;;
}
@media screen and (max-width: 650px){
   .lmsHeaderWrapper{
        width: 100%;
        height: 50px;
        color: white;
        background-color: #039BE5;
   }
   .responsiveImg{
        background-image: url("../images/LogoWhite.png");
        width: 85px;
        margin-top: 16px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
   }
   .headerText, .courseSearchInput, .userProfileDiv p, #userProfileDiv{
        display: none;
   }
   .userProfileName{
        width: 100px;
        font-size: 16px;
        margin-bottom: 40px;
   }
   .fourthWrapper img{
        width: 30px;
        margin-bottom: 20px;
   }
   .lmsHeaderWrapper i{
        margin-bottom: 15px;
   }
   .thirdIconWrapper hr{
        width: 0.11px;
        height: 30px;
        margin-bottom: 25px;
        border: 0.1px solid white;
        border-radius: 12px;
        background-color: white;
   }
   .menuIcon{
        width: 20px;
        height: 15px;
        margin: 15px 0px 0px 20px;
        background-image: url("../images/menuIcon.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .responsiveTag{
        display: flex;
        width: 25%;
        margin-right: 90px;
        align-items: center;
        justify-content: space-between;
    }
    .courseHeader{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .sideBarShow{
        position: absolute;
    }
}

/* 
.sideBarWrapper{
    position: absolute;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #039BE5;
}
.popheaderWrapper{
    display: flex;
    align-items: last baseline;
}
.sideBarWrapper .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    width: 180px;
}
.sideBarWrapper .logo img{
    width: 120px;
}
.cancelWrapper i{
    font-size: 28px;
    color: white;
}
.cancelWrapper i:hover{
    cursor: pointer;
}
.sideBarWrapper div a{
    text-decoration: none;
}
.sideBarWrapper div a div{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 17px;
    height: 42px;
    margin-bottom: 5px;
}
.navLinkWrapper .firstSectionLink a div:hover{
    padding-left: 40px;
    margin-left: -30px;
    text-align: center;
    width: 180px;
    border-left: 3.5px solid #EC407A;
    background-color:  #64B5F6;
}
.active{
    padding-left: 40px;
    margin-left: -30px;
    text-align: center;
    width: 180px;
    color: black;
    border-left: 3.5px solid #EC407A;
    background-color:  #64B5F6;
} */
/* .sideBarWrapper div a i{
    color: white;
    margin: 5px 8px 0px 0px;
}
.sideBarFooter div a div{
    list-style-type: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 50%;
}
.sideBarFooter div a{
    text-decoration: none;
}
.sideBarFooter div i{
    color: white;
    margin: 4px 8px 0px 0px;
}
.navLinkWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-top: 10px;
    margin-left: 30px;
} */
/* @media screen and (max-width: 650px) {
    .sideBarWrapper{
        overflow-x: hidden;
    }
} */

