.sideBar{
    height: 100%;
    position: fixed;
}
.main{
    display: flex;
    position: relative;
    width: 100%;
}
.body{
    display: flex;
    width: 100%;
    align-items: end;
    left: 17.2%;
    position: relative;
}
@media screen and (max-width: 550px) {
    .body{
        left: 50%;
    }
}
@media screen and (max-width: 250px) {
    .body{
        left: 80%;
    }
}