
.main{
    display: flex;
    width: 100%;
}
.mainBody{
    display: flex;
    width: 100%;
    align-items: flex-end;
    left: 17.2%;
    position: absolute;
    margin-top: 20px;
}
.sideBar{
    height: 100%;
    position: fixed;
}
@media screen and (max-width: 768px) {
    .sideBar{
        display: none;
    }
    .mainBody{
        left: 0%;
        margin-top: 0px;
    }
}
