@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}


a{
  text-decoration: none;
  color: black;
  line-height: 20px;
}


/*nav section begins*/
.nav a:hover{
  color: #0288D1;
}
.nav, ul, li{
  display: flex;
  text-decoration: none;
}
.navContainer{
  display: flex;
  background-color: #E3F2FD;
  gap: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.logo{
  margin:12px 80px;
}
.nav{
  margin-top: 25px;
}
li{
  margin-right: 40px;
}
.navItems{
  display: flex;
  gap: 160px;
}
.signup-signin{
  text-align: center;
  line-height: 70px;

}
.generalA{
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #0288D1;
  border-radius: 40px;
  background-color: white;
  margin-right: 40px;
}
.signin:hover{
  background: #BBDEFB;
  transition: 400ms;
}
.signin:active{
  background: #005381;
  color: white;
  transition: 100ms;
}
.signup:hover{
  background: #E3E3E3;
  transition: 400ms;
}
.signup:active{
  background: #C6C6C6;
  transition: 100ms;
}
/*nav design ends here*/


/*HERO STARTS HERE*/
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 45px;
  background-color: #E3F2FD;
  padding-top: 200px;
  padding-left: 100px;
  padding-bottom: 120px;
}
.heroContainer{
  display: flex;
  gap: 190px;
}
.text h1{
  font-weight: 700;
  font-size: 64px;
  letter-spacing: 0.01em;
}
.text p{
  font-size: 32px;
}
.getStarted-explore a{
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.getStarted{
  width: 130px;
  background: #0288D1;
  color: white;
}
.getStarted:hover{
  background: #BBDEFB;
  color: black;
  transition: 300ms;
}
.getStarted:active{
  background: #C6C6C6;
  transition: 100ms;
}
.explore{
  width: 190px;
}
.explore:hover{
  background: #BBDEFB;
  transition: 300ms;
}
.explore:active{
  background: #C6C6C6;
  transition: 100ms;
}
/* HERO SECTION END */


/*PARTNERS SECTION BEGINS*/
.partnerWrapper{
  margin: 120px 100px;
}
.partnerWrapper h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 0.005em;
  margin-bottom: 65px;
}
.partners{
  display:flex;
  justify-content: space-between;
}
/*PARTNER SECTION ENDS*/


/*COURSE SECTION BEGINS*/
.coursesSection{
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 100px;
  background: #FAFAFA;
}
.coursesSection h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 40px;
}
.coursesWrapper{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.courseContainer{
  width: 268px;
  padding: 7px 10px 20px 10px;
  border-radius: 12px;
}
.blue{
  background: #E3F2FD;
}
.red{
  background: #FCE4EC;
}
.courseContainer img{
  width: 100%;
}
.courseContainer h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.courseContainer p{
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
/*courses section ends*/

.customerSupport{
  position: fixed;
  bottom: 100px;
  right: 100px;
  background-color: #c2185b;
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 90px;
}
.customerSupport img{
  margin-top: 20px;
}

/* trial section starts*/
.potentialWrapper{
  padding: 60px 100px;
}
.potentialContainer h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 0.01em;
}
.potentialContainer p{
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  padding-right: 15px;
}
.trial-plans{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.trial{
  text-align: center;
}
.trial a{
  width: 150px;
}
.plans a{
  color: #039BE5;
  font-weight: 600;
  line-height: 31px;
  border-bottom: 3px solid #0288D1;
}
.plans a:hover{
  transition: 500ms;
  color: black;
  border-bottom: black;
}
/*trial section ends*/

/*porvision section begins*/
.provisionWrapper{
  margin: 60px 100px;
}
.provisionContainer h1{
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
}
.provisions{
  display: flex;
  justify-content: space-between;

}
.provisionContent{
  display: flex;
  border: 1px solid #555555;
  justify-content: space-between;
  width: 30%;
  gap: 10px;
}
.provisionImg{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.provisionText h5{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 7px;
}
